


// _colors.scss
$white: #FFFFFF;
$startGrey : #889b9c;
$midDarkGrey: #4b4d3c;
$lineGrey: #707070;
$darkGrey:#1a1a1a;
$good: #a8e160;
$moderate:#fcd74b;
$compromisedRisk: #fe9b57;
$unhealthy: #fe6a6a;
$veryUnhealthy: #a97bbc;
$hazardous: #a87383;