


// _generalStyling.scss
html{
  background-color: $white;
}

.wrapper{
  max-width: 1280px;
  background: linear-gradient(180deg, rgb(117, 219, 236) 0%,  var(--aqiColor) 100%);
  width: 90vw;
  margin: 0 auto;
}

#test{
  background-image: url(../../Assets/02d.png);
}
